<div class="container">
    <%= link_to 'Back to Task', category_tasks_path(@category) %>
    <h4><%= @task.name %></h4>
    <br/>
    <div class="add-category-link">
        <%= link_to 'Edit Task', edit_category_task_path(@category, @task) %>
    </div>
   
    <div class="delete-btn">
        <%= button_to 'Delete Task', category_task_path(@category, @task), method: :delete %>
    </div>
 
</div>


