<%= stylesheet_link_tag 'categories' %>

<div class="container">
  <h1>Categories</h1>

  <span class="add-category-link">
    <%= link_to 'Add Category', new_category_path %>
  </span>
  <h4>Name</h4>
  <% @categories.each do |category| %>
    <span class="category-item">|  <%= link_to category.name, category %>  |</span>
  <% end %>
</div>

